* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.hero { 
    background: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    padding: 64px 0px;
}